{% extends "./base.html" %}
{% block content %}
    {% if questions %}
        <div class="list-group">
            {% for question in questions %}
                <a href="{% url 'polls:detail' question.id %}"
                   class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start text-center">
                    {{ question.question_text }}
                    <!-- implement choices badge
                    <span class="badge bg-primary rounded-pill ms-2">14</span>
                    -->
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There is no polls</p>
    {% endif %}
{% endblock %}
