{% extends "base.html" %}
{% block content %}
    <form method='post' class="row g-3">
        {% csrf_token %}
        <h1 class="text-white">Add new poll</h1>
        <small>You have {{ polls_left }} polls left</small>
        <div class="row g-3" id="fields">
            {% if message %}
                <div class="col-md-12 pe-0 mb-3">
                    <p class="border-start border-danger border-5 bg-danger bg-opacity-50 ps-1 m-0">{{ message }}</p>
                </div>
            {% endif %}
            <div class="col-md-12 pe-0 m-0">
                <textarea class="form-control form-control-lg"
                          name="text"
                          placeholder="Poll text"
                          rows="1"
                          {% if disable_form %}disabled{% endif %}></textarea>
            </div>
            <div class="input-group input-group-sm col-md-12 pe-0">
                <input type="text"
                       name="choices"
                       class="form-control"
                       placeholder="Choice"
                       {% if disable_form %}disabled{% endif %}
                       required>
            </div>
            <div class="input-group input-group-sm col-md-12 pe-0">
                <input type="text"
                       name="choices"
                       class="form-control"
                       placeholder="Choice"
                       {% if disable_form %}disabled{% endif %}
                       required>
            </div>
            {% if not disable_form %}
                <div class="col-md-12 pe-0" id="button">
                    <a class="btn btn-outline-secondary btn-sm" onclick="add()">+ Choice</a>
                </div>
            {% endif %}
        </div>
        {% if not disable_form %}
            <div class="row g-3 mt-0">
                <div class="col-md-12 pe-0">
                    <button type="submit" class="btn btn-primary">Create poll</button>
                </div>
            </div>
        {% endif %}
    </form>
    <script>
       function add() {
         let choiceButton = document.querySelector("#button");
         let field = document.createElement('div');
         field.innerHTML = '<input type="text" class="form-control" name="choices" placeholder="Choice" required><a class="btn btn-sm btn-outline-secondary border-start-0" onclick="this.parentElement.remove()">&times;</a>'
         field.className = 'input-group input-group-sm col-md-12 pe-0'
         choiceButton.before(field);
       }
    </script>
{% endblock %}
