{% extends "base.html" %}
{% block content %}
    <form action="{% url 'polls:vote' poll.id %}" method='post'>
        <a href="{% url 'polls:index' %}" class="btn btn-secondary mb-3">Back to polls</a>
        {% csrf_token %}
        <h1 class="text-white">{{ poll.text }}</h1>
        <p class="text-white">
            <small>date: {{ poll.pub_date }}, <b>{{ poll.get_total_votes }}</b> votes</small>
        </p>
        {% if error_message %}
            <p class="text-white">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}
        <div class="progress-stacked">
            {% for choice in choices %}
                <div class="progress"
                     role="progressbar"
                     aria-label="Segment one"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: {{ choice.percent }}%">
                    <div class="progress-bar bg-{{ choice.color }}"></div>
                </div>
            {% endfor %}
        </div>
        <ul class="list-group list-group-flush mb-3">
            {% for choice in choices %}
                <li class="list-group-item bg-dark d-flex align-items-center ps-0 border-dark-subtle">
                    <div class="ms-3 me-auto">
                        {% if request.user.is_authenticated %}
                            <input type="radio"
                                   name="choice"
                                   id="{{ forloop.counter }}"
                                   value="{{ choice.id }}">
                            <label for="{{ forloop.counter }}" class="mx-2 text-white">{{ choice.text }}</label>
                        {% else %}
                            <p class="mx-2 my-auto text-white">{{ choice.text }}</p>
                        {% endif %}
                    </div>
                    <span class="badge rounded-pill">{{ choice.percent|floatformat:'0' }}%</span>
                    <span class="badge mx-2 bg-{{ choice.color }} rounded-pill">{{ choice.votes }}</span>
                </li>
            {% endfor %}
        </ul>
        {% if request.user.is_authenticated %}
            <input type="submit" value="Vote" class="btn btn-primary">
        {% else %}
            <p class="text-white">
                <small>You need to <a href="{% url 'accounts:login' %}" class="link-light link-offset-2">log in</a> to vote</small>
            </p>
        {% endif %}
    </form>
{% endblock %}
