.wrapper > *{
    width: 600px;
}
.polls-list {
    width: 500px;
}


/* my-polls page */
.my-polls-li .edit{
    display: none;
    width: 18px;
    height: 18px;
    opacity: .5;
}
.my-polls-li .btn-close{
    display: none;
}
.my-polls-li:hover .edit{
    display: flex;
}
.my-polls-li:hover .edit:hover{
    opacity: 1;
}
.my-polls-li:hover .btn-close{
    display: flex;
}
.my-polls-li:hover span{
    display: none;
}
