{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-black"
     data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" height="30">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">My votes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-primary rounded text-white ms-2 my-1 py-1"
                           href="{% url 'accounts:signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
