{% extends "base.html" %}
{% block content %}
    <h1 class="text-white mb-5">Change Password</h1>
    <form method='post' class="row g-3">
        {% csrf_token %}
        {% if message %}
            <div class="col-md-12">
                <p class="border-start border-success border-5 bg-success bg-opacity-50 px-1 m-0">{{ message }}</p>
            </div>
        {% endif %}
        <div class="row g-3">
            <div class="col-md-6 pe-0 m-0">
                <input type="password"
                       name="old_password"
                       maxlength="100"
                       placeholder="Old password"
                       value="{{ old_password_value }}"
                       class="form-control {{ old_password_css }}"
                       required>
                {% if old_password_feedback %}<div class="invalid-feedback">{{ old_password_feedback }}</div>{% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <input type="password"
                   name="new_password1"
                   maxlength="100"
                   placeholder="New password"
                   value="{{ new_password1_value }}"
                   class="form-control {{ new_password1_css }}"
                   required>
            {% if new_password1_feedback %}<div class="invalid-feedback">{{ new_password1_feedback }}</div>{% endif %}
        </div>
        <div class="col-md-6">
            <input type="password"
                   name="new_password2"
                   maxlength="100"
                   placeholder="New password confirmation"
                   value="{{ new_password2_value }}"
                   class="form-control {{ new_password2_css }}"
                   required>
            {% if new_password2_feedback %}<div class="invalid-feedback">{{ new_password2_feedback }}</div>{% endif %}
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
