{% extends "base.html" %}
{% block content %}
    <h1 class="text-white mb-5">Sign up to Pollster</h1>
    <form method='post' class="row g-3">
        {% csrf_token %}
        {% if error_message %}
            <div class="col-md-12">
                <p class="border-start border-danger border-5 bg-danger bg-opacity-50 px-1 m-0">{{ error_message }}</p>
            </div>
        {% endif %}
        <div class="col-md-12">
            <input type="text"
                   name="username"
                   maxlength="100"
                   placeholder="Username"
                   class="form-control {{ error_css }}"
                   required>
        </div>
        <div class="col-md-12">
            <input type="password"
                   name="password"
                   maxlength="100"
                   placeholder="Password"
                   class="form-control {{ error_css }}"
                   required>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
{% endblock %}
